body{
  background: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

header, footer{
  background: linear-gradient(rgba(187, 10, 119, 1), transparent);
}

header{
  height: 75px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: 'Eczar';
}

header h1{
  display: inline-block;
  margin: 0;
  padding: 0 20px;
}

h1 a{
  color: #0abb92;
}

nav{
  float: right;
  height: 85px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul{
  display: none;
}

.show{
  display: block;
  top: 85px;
}

nav li{
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: ease 200ms;
}

nav a{
  color: #0abb92;
  transition: ease 100ms;
  font-size: 20px;
}

nav li:hover{
  background: #0abb92;
  transition: ease 200ms;
}

nav li:hover > a{
  color: rgba(187, 10, 30, 1);
  transition: ease 200ms;
}

main{
  margin-top: 75px;
}

.hamburger {
  position: absolute;
  right: 10px;
  top: 10px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  border: 1px inset #ccc;
  transition: ease 200ms;
}

.hamburger:hover{
  background: rgba(19,19,19,0.9);
}

.hamburger div {
  height: 6px;
  background-color: #0abb92;
  margin-bottom: 6px;
  border-radius: 4px;
}

.intro, .contact{
  font-family: 'Libre Baskerville';
  background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(76,76,76,0.98) 16%, rgba(19,19,19,0.9) 100%);
  max-width: 50%;
  max-height: 220px;
  text-align: center;
  margin: 0 auto;
  margin-top: 300px;
  transition: ease 400ms;
  border: 1px solid transparent;
  border-radius: 20px;
  animation: fadeIn 400ms ease;
}

.intro a{
  color:#ccc;
}

.intro:hover{
  text-shadow: 3px 3px 2px rgba(119, 187, 10, 0.5);
  box-shadow: 3px 3px 2px rgba(36, 36, 36, 0.8);
  transition: ease 400ms;
}

.about{
  padding: 0 15vw;
}

.about> section, aside{
  padding: 0 40px;
  text-align: center;
  font-size: 20px;
  border-radius: 50%;
  animation: fadeIn 400ms ease;
} 

.about h1{
  padding-top: 40px;
  font-size: 30px;
}

.about h3{
  padding-top: 10px;
}

.about section{
  float: left;
  height: 540px;
  width: 480px;
  background: radial-gradient(circle at 100px 100px, #bb2e0a, #000);
}

.about section div{
  padding-top: 30px;
}

.about aside{
  float: left;
  clear: right;
  margin-left: 10%;
  margin-top: 2%;
  height: 200px;
  width: 16%;
  background: radial-gradient(circle at 33% 33%, #0abb92, #000);
}

.about a{
  color: rgb(187, 10, 119);
}

.projects{
  animation: fadeIn 400ms ease;
}

.projects h1{
  margin: 50px;
  color: white;
}

.projects aside{
  margin: 0 5%;
  padding: 20px 0;
  float: right;
  width: 40%;
  height: 360px;
  clear: none;
  border-radius: 20px;
  background: radial-gradient(ellipse at center, rgba(76,76,76,1) 0%, rgba(76,76,76,0.98) 16%, rgba(19,19,19,0.9) 100%);
  box-shadow: 3px 3px 2px rgba(36, 36, 36, 0.8);
}

.projects a{
  color: #0abb92;
}

.contact{
  animation: fadeIn 400ms ease;
  padding-bottom: 10px;
}

.contact h1{
  font-size: 40px;
}

.contact a{
  color: #0abb92;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (min-width: 618px){
  .hamburger{
    display: none;
  }
  
  nav ul{
    display: block;
  }
}